{% extends 'base.html' %}
{% block content %}
<div class="tree-container">
    <div id="category-tree"></div>
</div>
{% endblock %}

{% block scripts %}
<script>
$(document).ready(function(){
    var treeData = {{ treeData|tojson }};
    $('#category-tree').treeview({
        data: treeData,
        enableHtml: true,
        enableLinks: true,
        showBorder: false,
        expandIcon: 'fas fa-chevron-right',
        collapseIcon: 'fas fa-chevron-down',
        nodeIcon: 'fas fa-folder',
        selectedBackColor: '#007bff',
        selectedColor: '#fff',
        levels: 99,
        onNodeSelected: function(event, node) {
            window.location.href = node.href;
        }
    });
});
</script>
{% endblock %}
